.contactMain{
    padding: 20px 70px;
}
.contact-head{
    margin-top: 50px;
}
div.info{
    display: flex;
    gap: 160px;
    margin-top: 50px;
}
input{
    padding: 10px 294px 10px 6px;
    background-color: #1F1F1F;
    border: none;
    margin-top: -10px;
    outline: none;
}
div.textarea{
    margin-top: 30px;
}
textarea{
    background-color: #1F1F1F;
    border: none;
    margin-top: -10px;
    resize: none;
    padding: 10px 720px 0px 6px;
    outline: none;
}
button{
    background-color: #3F3F3F;
    border: none;
    padding: 7px 40px;
    margin-top: 10px;
}
